/*bg*/
.bg-dark-blue{
    background-color: #385b7c;
}

.bg-acqua{
    background-color: #00B89A;
}

.bg-iron{
    background-color: #2C3E50;
}

/* footer */
footer li{
    height: 40px;
    width: 40px;
}